<div layout-align="center" class='client-activities'>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
      <md-tab-label>
        <span>Showings</span>
      </md-tab-label>
      <md-tab-body>
        <h1 class="md-display-2">Showings</h1>
        <ul>
          <li ng-repeat="showing in clientCtrl.showingCount">A Showing!</li>
        </ul>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span>Priorities</span>
      </md-tab-label>
      <md-tab-body>
        <h1 class="md-display-2">Priorities</h1>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span>Info</span>
      </md-tab-label>
      <md-tab-body>
        <h1 class="md-display-2">Client Info</h1>
      </md-tab-body>
    </md-tab>

  </md-tabs>
</div>
