<div layout='row' class='client-detail'>  
  <div layout-align="center" flex='65' class='client-activities'>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <span>Info</span>
        </md-tab-label>
        <md-tab-body>
          <h1 class="md-display-2">Client Info</h1>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span>Priorities</span>
        </md-tab-label>
        <md-tab-body>
          <h1 class="md-display-2">Priorities</h1>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <span>Showings</span>
        </md-tab-label>
        <md-tab-body>
          <h1 class="md-display-2">Showings</h1>
        </md-tab-body>
      </md-tab>
    </md-tabs>


<!--     <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <md-card-content>
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <h3 class="md-title">{{ awesomeThing.title }}</h3>
        <p>{{ awesomeThing.description }}</p>
      </md-card-content>
      <div class="md-action-buttons">
        <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
      </div>
    </md-card> -->
  </div>

  <div flex='35'>
    <md-card>
      <md-list class='notification-panel'>

        <md-list-item class='notification md-3-line'>
          <div flex='50'>Adam Agent</div>
          <div flex='50'>20 minutes ago</div>
          <div flex='20'><md-icon >chat_bubble_outline</md-icon></div>
          <div flex='80'>Notification 1</div>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class='notification md-3-line'>
          <div flex='50'>Adam Agent</div>
          <div flex='50'>20 minutes ago</div>
          <div flex='20'><md-icon >chat_bubble_outline</md-icon></div>
          <div flex='80'>Notification 2</div>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class='notification md-3-line'>
          <div flex='50'>Adam Agent</div>
          <div flex='50'>20 minutes ago</div>
          <div flex='20'><md-icon >chat_bubble_outline</md-icon></div>
          <div flex='80'>Notification 3</div>
        </md-list-item>

      </md-list>
    </md-card>
    
  </div>
</div>