.client-content {
	margin-top: -64px;
	padding-top: 64px;

	.client-list {
		overflow-y: scroll;
		.client {
			&.active {
				background-color: rgb(76,175,80);
				color: white;
			}
		}
	}
}

.client-detail {
	height: 100vh;
	.client-activities {

		md-pagination-wrapper {
			width: 100%;
		}
	}
}

.notification-panel {
	.notification {
		flex-wrap: wrap;

		.message-time {
			text-align: right;
		}

		md-icon {
			margin: 5px;
			font-size: 32px;
		}
	}
}