<ion-view view-title="Showings">
  <ion-content>

  	<div class="showing-actions">
			<div class="add-showing">
				<button class="button button-block button-stable">
				  Add a Showing
				</button>
				<div class="help-text">
					Need a quicker way?
					<ul>
						<li>Type #showing 3:00 PM tomorrow</li>
						<li>Forward your showing confirmation email to showings@pounce.com</li>
					</ul>	
				</div>
		  </div>

		  <div class="view-showings">
				<button class="button button-block button-stable">
				  Previous Showings
				</button>
				<button class="button button-block button-balanced" ui-sref="relationship.upcoming-showings">
				  Next Showings
				</button>
		  </div>
  	</div>

  	<!-- <ion-view name="upcoming-showings"></ion-view> -->

  </ion-content>
</ion-view>