<ion-view view-title="Upcoming">
	<ion-content>
		<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
		  <ion-slide ng-repeat="showing in upcomingShowings">
			  	<div class="showing-summary upcoming">

			  		<div class="time">
			  			{{ showing.showingTime | date : 'EEEE, MMMM d, h:mm a' }}
			  		</div>

			    	<div class="address">
			    		<div class="street">
			    			{{showing.address.full}}
			    		</div>

			    		<div class="city-state">
			    			{{showing.address.city}}, {{showing.address.state}} {{showing.address.postalCode}}
			    		</div>
			    	</div>

			    	<div class="photos">
			    		<img ng-src="{{showing.photos[0]}}" style="height:200px; padding: 5px 5px 5px 5px;" ng-click="openModal(showing)"/>
			    	</div>

			    </div>
		  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>

<script id="image_modal.html" type="text/ng-template">
	<div class="modal image-modal transparent" ng-click="closeModal()">
	  <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" delegate-handle="image-slide-box">

	    <ion-slide ng-repeat="photo in currentShowing.photos">
	      <img ng-src="{{photo}}" class="fullscreen-image" />
	      <p class="info">{{showing.address.full}}</p>
	    </ion-slide>

	  </ion-slide-box>
	</div>
</script>