<md-toolbar class='global-navbar' layout="row" layout-align="left center">

	<section flex='75' layout-align="left">
  	<md-button href="/#/">PouncePro</md-button>
	</section>

  <section class='user-actions' flex='25' layout-align="right">
  	<md-button class="md-fab md-mini md-accent" aria-label="Add Client">
      <md-icon class='action'>person_add</md-icon>
    </md-button>
  	<md-button class="md-icon-button" aria-label="All Messages">
      <md-icon class='action'>chat_bubble_outline</md-icon>
    </md-button>
	  <span>|</span>
		<md-button class="acme-navbar-text">Adam Agent</md-button>
  </section>

</md-toolbar>
