.showing-actions {
	margin: 10px;

	.add-showing {
		margin-bottom: 150px;
		.help-text {
			font-style: italic;
			color: $black-70;
			line-height: 25px;
			ul {
				list-style-type: circle;
				margin-left: 30px;
			}
		}

	}

	.view-showings {

	}
}

.showing-summary {
	text-align: center;
	margin-top: 10px;

	.time {
		color: $black-70;
		font-size: 15px;
	}

	.address {
		font-size: 25px;
		margin: 10px;
		line-height: 30px;
	}
	
	.general-info {
		margin-bottom: 10px;
		.highlighted-value {
			font-size: 25px;
			margin-bottom: 5px;
			color: $balanced;
			font-weight: bold;
			// background-color: $black-30;
			// border-radius: 10px;
			// width: auto;
		}
	.value-label {
		color: $black-50;
	}
	}
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}