<ion-view view-title="Messages">
  <ion-content>
	  <div class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Search">
		  </label>
		  <button class="button button-clear">
		    Cancel
		  </button>
		</div>
    <ion-list class="messages">
      <ion-item ng-repeat="message in messages | orderBy:'sentAt'" class="fx-fade-normal">
        <div class="header row">
        	<div class="title col">
        		{{message.author}}
        	</div>
        	<div class="timestamp col">
        		{{message.sentAt | relativeTime }}
        	</div>
        </div>
        <div class="body row">
        	<div class="icon ion-ios-chatbubble-outline col-20">
        	</div>
        	<div class="content col-80">
        		{{message.body}}
        	</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
	  <div class="bar bar-footer item-input-inset">
		  <label class="item-input-wrapper">
		    <input type="text" placeholder="Message" ng-model="newMessage">
		  </label>
		  <button class="button button-outline button-balanced" ng-click="addMessage()">
		    Submit
		  </button>
		</div>
	</ion-footer-bar>
</ion-view>